@font-face {
    font-family:'Gill Sans MT';
    src: url('../webfonts/Gill Sans MT.eot');
	src: url('../webfonts/Gill Sans MT.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gill Sans MT.woff') format('woff'),
		url('../webfonts/Gill Sans MT.svg#Gill Sans MT') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2215;
}
@font-face {
    font-family:'Gill Sans MT';
    src: url('../webfonts/Gill Sans MT Bold.eot');
	src: url('../webfonts/Gill Sans MT Bold.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/Gill Sans MT Bold.woff') format('woff'),
		url('../webfonts/Gill Sans MT Bold.svg#Gill Sans MT Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
body, html {
	font:16px 'Gill Sans MT', Helvetica, Arial, sans-serif;
	color:#606060;
	height: 100%;
}
#s4-workspace {
	background:#f1f1f1;
	/*height: auto !important;*/
    min-height: 100%;
	position:relative;
}
/***** Starts System Master Page*****/
.ms-dialog .ms-core-overlay {
	background:transparent !important;
}
.ms-dialog .system-contentRow #contentBox {
	margin:0 !important;
}
#ms-designer-ribbon .ms-cui-ribbon a, #ms-designer-ribbon .ms-cui-menu a, #ms-designer-ribbon .ms-cui-toolbar-toolbar a {
	box-sizing: content-box;
}
#ms-designer-ribbon .ms-cui-dd-text, #ms-designer-ribbon input.ms-cui-cb-input {
	box-sizing: content-box;
}
/***** Ends System Master Page*****/
#s4-bodyContainer {
	padding:0;
	min-height: 100%;
}
.bg-Wrap {	
	overflow: hidden;
    padding-bottom: 42px;
}
.h3, h3 {
	font-size:16px;
}
.ms-cui-ribbon a span {
	box-sizing: content-box;
}
.ms-dlgCloseBtn > span {
	box-sizing: content-box;
}
.ms-webpart-menuLink {
	box-sizing: content-box;
}
.nbb-homeWrapper .ms-webpartzone-cell {
	margin-bottom:0;
}
#contentRow {
	padding-top:10px;
}
a, a:hover, a:visited {
	color:#484848;
	text-decoration:none;
}
ul.cbs-List {
	padding:0;
	margin:0;
	display:block;
}
ul.cbs-List li {
	list-style-type:none;
	margin-bottom:20px;
}
ul.cbs-List li:last-child {
	margin-bottom:0;
}
.logo-Wrapper {
	margin:15px 0;
	display: block;
    overflow: hidden;
}
.nbb-logo {
	margin-right:15px;
	padding-right:15px;
	border-right: 1px solid #d9d9d9;
}
.nbb-intranet-logo {
	margin:10px 0 0;
}
.top-profile-details {
	margin:15px 0;
}
.top-profile-details .dropdown {
	margin-left:6px;
}
.top-profile-details a.dropdown-item {
	display: block;
    padding: 6px 12px;
    border-bottom: 1px solid #d0d0d0;
    color:#484848;
    text-decoration:none;
}
.top-profile-details a.dropdown-item:hover {
	display: block;
    padding: 6px 12px;
    border-bottom: 1px solid #d0d0d0;
    color:#ff0d00;
    text-decoration:none;
}
.top-profile-details a.dropdown-item:last-child {
    padding: 6px 12px;
    border-bottom: 0px;
}
.top-profile-details .pull-right>.dropdown-menu {
	background: #ffffff;
	top: 26px;
    right: -16px;
    width:180px;
    border:0px;
}
.top-profile-details .pull-right>.dropdown-menu:after {
	bottom: 100%;
	left: 87%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 8px;
	margin-left: -8px;
}
.nbb-profile-pic {
    margin: 8px 0 0 0;
}
.nbb-profile-pic img {
	border-radius:100px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	width:36px;
	height:36px;
}
.nbb-profile-name {
	margin: 15px;
}
.nbb-profile-name a {
	color:#ff0d00;
	text-decoration:none;
}
/****** Starts Custom Navigation *******/
.navbar {
	background:#FFF;
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	min-height:42px;
	margin:0 0 30px 0;
}
@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}
.navbar-default .navbar-nav>li>a {
    color: #484848;
	font-size:18px;
}
.navbar-default .navbar-nav>li>a>i {
    color: #ff0d00;
	font-size:20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}
.ms-core-listMenu-horizontalBox {
	margin:12px 0;
}
.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root {
	padding:0 0 0 15px;
}
.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li:first-child.static > .ms-core-listMenu-item:before {
    content: "\f015";
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 16px;
}
.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li:first-child.static > .ms-core-listMenu-item {
    margin:0;
}
.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li:first-child.static > .ms-core-listMenu-item span span{
	display:none;
}
.customNavContent .ms-core-listMenu-horizontalBox .dynamic-children.additional-background:after {
    content: "\f107";
    font: normal normal normal 14px FontAwesome;
    font-size: 20px;
    position: relative;
    display: inline-block;
    color: #ff0d00;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 0;
    vertical-align: top;
    top: 12px;
    left: 6px;
}
.customNavContent .ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
    padding-right: 0;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #484848;
    padding-right: 0;
}
.customNavContent ul.dynamic {
    left: -1px !important;
    background-color: #FFF;
    -webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
    border: 1px solid #f2f5ee;
    border-top: 0px solid #D5D7D2;
    box-shadow: none;
    min-width: 180px;
}
.customNavContent li.dynamic {
	list-style:none;
    display: list-item;
    margin-bottom: 6px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.customNavContent li.dynamic:last-child {
    margin-bottom: 0px;
    border-bottom: 0px solid #ddd;
}
.customNavContent a.static.selected.menu-item.ms-core-listMenu-item.ms-displayInline.ms-core-listMenu-selected.ms-navedit-linkNode {
	font-weight:normal;
}
.customNavContent .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:active, .customNavContent a.ms-tv-item:active, .customNavContent a.ms-tv-header:active {
	color:#ff0d00;
}
/****** Ends Custom Navigation *******/

/****** Starts Breadcrumb Section *******/
.breadcrumb-cont {
	font-size:14px;
	line-height:16px;
}
.breadcrumbRootNode:after{
	content: "Home";
    font-size: 14px;
}
.breadcrumbRootNode {
	font-size:0;
}
.breadcrumb-cont a{
	text-decoration:none;
}
.breadcrumb-cont a:hover {
	color:#ff0d00;
	text-decoration:none;
}
/****** Ends Breadcrumb Section *******/

.search-wrapper {
	border-left: 1px solid #dfdfdf;
    padding: 12px;
}
.search-wrapper .ms-srch-sb-border, .search-wrapper .ms-srch-sb-border:hover, .search-wrapper .ms-srch-sb-borderFocused {
	border:0px;
}
.search-wrapper .ms-helperText, .search-wrapper input.ms-helperText {
	color:#bbbbbb;
}
.search-wrapper .ms-srch-sb-searchImg {
	display:none;	
}
.search-wrapper .ms-srch-sb > .ms-srch-sb-searchLink:before {
	content:"\f002";
	display: block;
    font: normal normal normal 30px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	cursor:pointer;
	color:#ff0d00;
	text-align:center;
}
.search-wrapper .ms-srch-sb > .ms-srch-sb-searchLink {
    height: 20px;
    width: 20px;
    margin:0;
    text-decoration:none;
}
.search-wrapper .ms-srch-sb-searchLink:hover, .search-wrapper .ms-srch-sb-navLink:hover {
	background:transparent;
	text-decoration:none;
}
.footer-section {
	background:#484848;
	padding:14px 0;
	color:#FFF;
	font-size:14px;
	position: relative;
  	margin-top: -27px;
  	/* negative value of footer height */
  	height:42px;
  	clear: both;
}
.footer-section a, .footer-section a:visited{
	color:#FFF;
}
/****** Starts News Bulletin *******/
.newsbulletin-wrap #slides{
    position: relative;
    height: 48px;
    padding: 0px;
    margin: 0 0 0 10px;
    list-style-type: none;
    width:78%;
    float:left;
}
.newsbulletin-wrap .slide{
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.newsbulletin-wrap .showing{
    opacity: 1;
    z-index: 2;
}
.newsbulletin-wrap .controls{
    display: none;
}
/* non-essential styles: just for appearance; change whatever you want */
.newsbulletin-wrap {
  display:none;
}
.newsbulletin-wrap ul#slides li {
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
    color: #484848;
  	background-size: cover;  
}
.newsbulletin-buttons {
    float: right;
    margin-right: 10px;
}
.newsbulletin-buttons .controls{
  	color: #ed1b2f;
  	border: none;
	font-size: 28px;
	cursor: pointer;
	background: transparent;
	margin: 4px 6px 0px 10px;
}
.newsbulletin-buttons .controls:hover, .newsbulletin-buttons .controls:focus{
    background: transparent;
	color: #ed1b2f;
}

.nbb-newsbulletin {
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	min-height:42px;
	background:#FFF;
}
.nbb-newsbulletin-arrow {
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 12px solid #efab00;
    margin-left:-1px;
}
.nbb-newsbulletin-TitleTxt {
	font-size:18px;
	color:#FFF;
	background:#efab00;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding:11px 20px;
}
.nbb-newsbulletin-TitleTxt a {
	text-decoration:none;
	color:#FFFFFF;
}
.nbb-newsbulleting-items {
	padding:12px 20px;
}
.nbb-newsbulleting-items .fa {
	color:#c2c2c2;
	margin-right:5px;
}
.newsbulletin-content .fa {
    font-size: 22px;
    color: #c2c2c2;
    vertical-align: middle;
    margin-right: 8px;
}
.newsbulletin-content {
	font-size:16px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.compliancebg {
	background:#fff19d;
	padding:2px;
}
/****** Ends News Bulletin *******/
#contentBox {
    margin-right: 0 !important;
    margin-left: 0 !important;
    min-width: 100% !important;
}
.system-contentRow #contentBox {
    margin-right: 20px !important;
    margin-left: 220px !important;
    min-width: 703px !important;
}
#searchInputBox {
    margin-bottom: 0;
    float: right;
}
/****** Starts NBB Family Updates *******/
.shadowbgBox {
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	background:#FFF;
	padding:15px;
	margin:15px 0;
}
.nbb-familyupdates-wrap.shadowbgBox {
	display:block;
	overflow:hidden;
	height:330px;
}
.nbb-componenttitle h2 {
	font-size: 20px;
    color: #212121;
	margin:0;
	padding:0;
}
.nbb-componenttitle {
	display:block;
	overflow:hidden;
	border-bottom:1px solid #d9d9d9;
	padding:0 0 8px 0;
    margin: 0 0 15px 0;
}
.nbb-titleleftbar {
    border-left: 2px solid #f0ab00;
    margin:4px 0 0 -15px;
    height: 16px;
    float: left;
}
a.morelink {
	margin: 4px 0 0;
    color: #ff0d00;
    text-decoration: none;	
}
.nbb-familyupdates .nbb-componenttitle {
	border:0px;
}
.nbb-familyupdates-tabs {
	margin:0 0 20px 0;
	float: right;
}
.nbb-familyupdates-tabs .nav-tabs>li.active>a, .nbb-familyupdates-tabs .nav-tabs>li.active>a:focus, .nbb-familyupdates-tabs .nav-tabs>li.active>a:hover, .nbb-FamilyUpdateActiveTab {
	background:#e0e0e0;
}
.nbb-familyupdates-tabs .nav>li>a {
	padding:4px 14px;
	border:1px solid #dbdbdb;
	border-radius:0px;
	margin:0 0 0 -1px;
}
.nbb-familyupdates-tabs .nav-tabs {
	border:0px;
}
.nbb-familyupdates-empwrapper {
	text-align:center;
}
.nbb-familyupdates-empphoto {
	width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    border-radius: 100%;
}
.nbb-familyupdates-empphoto img{
	border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 2px solid #FFF;    
    text-align: center;
}
.nbb-familyupdates-empdetails {
    border: 1px solid #e6e6e6;
    margin-top: -40px;
    padding: 60px 20px 30px 20px;
}
.nbb-familyupdates-bluebox {
	border-top: 5px solid #04b2e2;
}
.nbb-familyupdateslist li:nth-child(2) .nbb-familyupdates-bluebox {
	border-top: 5px solid #babf33;
}
.nbb-familyupdateslist li:nth-child(3) .nbb-familyupdates-bluebox {
	border-top: 5px solid #f99f1e;
}
.nbb-familyupdateslist li:nth-child(4) .nbb-familyupdates-bluebox {
	border-top: 5px solid #0cbab4;
}
.nbb-familyupdateslist li:nth-child(5) .nbb-familyupdates-bluebox {
	border-top: 5px solid #75253d;
}
.nbb-familyupdateslist li:nth-child(6) .nbb-familyupdates-bluebox {
	border-top: 5px solid #033b4c;
}
.nbb-familyupdateslist li:nth-child(7) .nbb-familyupdates-bluebox {
	border-top: 5px solid #5d6770;
}
.nbb-familyupdateslist li:nth-child(8) .nbb-familyupdates-bluebox {
	border-top: 5px solid #6aa2b8;
}
.nbb-familyupdateslist li:nth-child(9) .nbb-familyupdates-bluebox {
	border-top: 5px solid #b22029;
}
.nbb-familyupdates-empname {
	font-size:18px;
	color:#212121;
}
.nbb-familyupdates-empdate {
	color:#606060;
}
.nbb-familyupdates a.morelink {
	margin:2px 0 0;
	color:#ff0d00;
	text-decoration:none;	
	cursor:pointer;
}
.nbb-familyupdates-emp {
	margin: 2px 0 10px 0;
}
.nbb-familyupdateslist li {
	width:30.4%;
	display:inline-block !important;
	margin:0 15px;
}
ul.nbb-familyupdateslist li {
	margin-bottom:0;
}
.nbb-familyupdateslist li:first-child {
	margin-left:0;
}
.nbb-familyupdateslist li:last-child {
	margin-right:0;
}
.nbb-familyupdateslist li:nth-child(3) {
	margin-right:0;
}
.nbb-familyupdateslist li:nth-child(4) {
	margin-left:0;
}
.nbb-familyupdateslist li:nth-child(6) {
	margin-right:0;
}
.nbb-familyupdateslist li:nth-child(7) {
	margin-left:0;
}
.nbb-familyupdateslist li:nth-child(9) {
	margin-right:0;
}
.nbbmore-familyupdateslist li:nth-child(2) .nbb-familyupdates-bluebox {
	border-top: 5px solid #babf33;
}
.nbbmore-familyupdateslist li:nth-child(3) .nbb-familyupdates-bluebox {
	border-top: 5px solid #f99f1e;
}
.nbbmore-familyupdateslist li:nth-child(4) .nbb-familyupdates-bluebox {
	border-top: 5px solid #babf33;
}
.nbbmore-familyupdateslist li:nth-child(5) .nbb-familyupdates-bluebox {
	border-top: 5px solid #f99f1e;
}
.nbbmore-familypaging {
	padding:0;
}
.nbbmore-familypaging li {
	list-style:none;
	display:inline-block;
	padding:0 5px 0 0;
}
/****** Ends NBB Family Updates *******/

/****** Starts Mark Your Calendar *******/
.nbb-markcalendar .ms-webpart-zone, .nbb-markcalendar .ms-webpart-cell-vertical, .nbb-markcalendar .ms-webpart-chrome-vertical {
	display:block;
}
.nbb-markyourcalendar.shadowbgBox {
	min-height:330px;
}
.markcalendar-leftbar {
    border-left: 2px solid #f0ab00;
    margin:4px 0 0 -15px;
    height: 70px;
    float: left;
}
.markcalendar-dateContainer {
	padding: 0;
    float: left;
    width: 76px;
    border-right: 1px solid #ececec;
    text-align: center;
    font-size: 14px;
    margin: 5px 10px 0 0;
}
.markcalendar-dateContainer .markcalendar-date {
    font-size: 34px;
    color: #ed1b2f;
    line-height: 34px;
}
.markcalendar-content {
	width: calc(100% - 88px);
}
.markcalendar-time .fa{
	color:#efab00;
	margin:0 5px 0 0;
}
ul.markcalendar-listview {
	margin:0;
	padding:0;
}
ul.markcalendar-listview  li {
	list-style:none;
	display:inline-block;
	width:100%;
	margin: 0 0 10px 0;
}
.markcalendar-title {
	margin:0 0 5px 0;
}
ul.markcalendar-listview  li:last-child {
	margin:0;
}
/****** Ends Mark Your Calendar *******/

/****** Starts Announcement Carousel Banner *******/
/* Carousel Styles */
.announce-carouselWrap.shadowbgBox {
	padding:0;
	background: #FFF;
    border-radius: 4px;
}
.announce-carouselWrap .carousel-indicators li.active  {
	background:#ff0d00;
}
.announce-carouselWrap .carousel-indicators li, .announce-carouselWrap .carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin:2px;
    float:left;
}
.announce-carouselWrap .carousel-inner {
	height:416px;
}
.announce-carouselWrap .carousel-inner img {
    width: 100%;
    max-height: 416px;
    border-radius:4px;
}
.carousel-control {
    width: 0;
}
.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control.left span {
	padding: 15px;
}
.carousel-control.right span {
	padding: 15px;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}
.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}
.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}
/* Carousel Header Styles */
.header-text {
    position: relative;
    z-index: 1;
    width: 100%;
}
.header-text h2 {
    font-size: 40px;
    font-size: 40px;
    color: #FFF;
    margin: 15px 0;
    line-height: 44px;
}
.dept-nameWrap {
    display: block;
    overflow: hidden;
}
.dept-name{
	background:#efab00;
	padding:1px 3px;
	color:#FFF;
	font-family:'Gill Sans MT';
}
.dept-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 11px solid transparent;
    border-left:6px solid #efab00;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: .6;
    border-radius:4px;
}
.announce-carouselWrap .carousel-indicators {
    right: 0;
    left: auto;
    width: auto;
    bottom: 0;
    background: #000;
    padding: 10px;
    -webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	margin:0;
	text-align:right;
}
.carousel-date {
	padding:0 0 18px 0;
	color:#FFF;
}
a.btn-primary {
    color: #fff;
    background-color: #ff0d00;
    border-color: #ff0d00;
}
a.btn-primary:hover, a.btn-primary:active, a.btn-primary:focus, a.btn-primary:active:focus, a.btn-primary:active:hover {
    color: #fff;
    background-color: #ee0c00;
    border-color: #ee0c00;
} 
.announce-carouselTxt {
    position: absolute;
    bottom: 60px;
    left: 6%;
    display: block;
    right: auto;
    width: 40%;
}
.carousel-morebtns {
    position: absolute;
    bottom: 0;
    right: 10%;
}
a.btn-link, a.btn-link:focus, a.btn-link:hover {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}
/****** Ends Announcement Carousel Banner *******/

/****** Starts Quick Links *******/
.nbbdept-quicklinks .ms-webpart-zone, .nbbdept-quicklinks .ms-webpart-cell-vertical, .nbbdept-quicklinks .ms-webpart-chrome-vertical {
	display:block;
}
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.quicklinks_List ul.list-group {
	margin:0;
	/*width:315px;*/
	width:100%;	
}
#quicklinks_Wrapper {
	position: relative;
    margin: 0px auto;
    padding: 0px;
    height: 262px;
	overflow: auto;
}
.nbbdept-quicklinks #quicklinks_Wrapper {
	height:190px;
}
.quicklinks_List ul.list-group li {
	margin:0 0 10px 0;
	/*padding:0 0 5px 0;*/
}
.quicklinks_List li {
	list-style:none;
}
.quicklinks_List li a {
	color:#484848;
}
.quicklinks_List li a:hover {
	color:#ff0d00;
	text-decoration:none;
}
.quicklinks_List .fa {
	color:#ff0d00;
	margin:0 5px 0 0;
	font-size:20px;
}
/****** Ends Quick Links *******/

/****** Starts Perfect ScrollBar *******/
/** Container style */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
/** Scrollbar rail styles */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}
.ps--active-x > .ps__rail-x, ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}
.ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}
.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9;
}
/** Scrollbar thumb styles */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x, .ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px;
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px;
}
/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
/****** Ends Perfect ScrollBar *******/
/****** Starts Learning Page *******/
.nbb-learningwelcomeContainer a {
	color:#ff0d00;
}
.nbb-library table.ms-listviewtable thead tr {
    background: #8c8c8c;
    color: #FFF;
}
.nbb-library table.ms-listviewtable {
	border:1px solid #eee;
	width:100%;
}
.nbb-library table.ms-listviewtable thead tr{
	background:#8c8c8c;
	color:#FFF;
}
.nbb-library .ms-listviewtable thead th {
    padding: 4px;
    border-left: 1px solid #FFF;
    color:#FFF;
    font-size:16px;
}
.nbb-library > table.ms-listviewtable > tbody > tr {
	border:1px solid #eeeeee;
}
.nbb-library .ms-listviewtable tbody tr td {
	padding:4px;
}
.nbb-library .ms-listviewtable > tbody > tr:nth-child(odd) {
	background: #f9f9f9;
}
.nbb-library .ms-listviewtable > tbody > tr:nth-child(even) {
	background: #FFF;
}
.nbb-library .ms-listviewtable thead .ms-vh-div a, .nbb-library .ms-listviewtable thead .ms-vh-div span{
	color:#FFF;
	font-size:16px;
}
table.ms-formtable tr td .ms-RadioText label {
	margin:0 0 0 5px;
}
.nbb-library .ms-vb a.ms-listlink {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
    float:left;
}
.nbb-library caption.ms-dragDropAttract {
	display:none;
}
.nbb-libraryHeight {
    height: 294px;
}
.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
	font-size:20px;
	font-family:'Gill Sans MT';
}
.ms-promlink-button {
	padding:0;
}
.ms-vb a:link, .ms-vb2 a:link, .ms-vb-user a:link {
	box-sizing: content-box;
}
/****** Ends Learning Page *******/

/****** Starts Compliance Portal *******/
.nbb-complianceportal .nbb-componenttitle {
	border:0px;
	margin:0;
}
table.complianceportal-table tbody tr:hover {
  	background-color: #FFF;
  	-webkit-box-shadow: 1px 1px 4px 2px rgba(255,13,0,0.2);
	-moz-box-shadow: 1px 1px 4px 2px rgba(255,13,0,0.2);
	box-shadow: 1px 1px 4px 2px rgba(255,13,0,0.2);
  	cursor: pointer;
}
table.complianceportal-table {
	border-spacing: 0 10px;
	border-collapse:separate;
}
table.complianceportal-table tr th {
	background:#f1f1f1;
	font-weight:normal;
	font-size:18px;
}
table.complianceportal-table tr th, table.complianceportal-table tr td {
	border-left:0px solid #dadada;
	border-right:0px solid #dadada;
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
	padding:8px;
}
table.complianceportal-table tr th:first-child, table.complianceportal-table tr td:first-child {
	border-left:1px solid #dadada;
}
table.complianceportal-table tr th:last-child, table.complianceportal-table tr td:last-child {
	border-right:1px solid #dadada;
}
table.complianceportal-table tr td a:hover {
	color:#ff0d00;
	text-decoration:none;
}
table.complianceportal-table tr td a {
	text-decoration:none;
}

/****** Starts Important Links *******/
ul.importantCBB-linksList {
	padding:0;
}
ul.importantCBB-linksList li {
	list-style:none;
	margin:0 0 10px 0;
}
ul.importantCBB-linksList li .fa {
	color:#ff0d00;
	font-size:20px;
}
ul.importantCBB-linksList li a {
	text-decoration:none;
}
ul.importantCBB-linksList li a:hover {
	color: #ff0d00;
    text-decoration: none;
}   
/****** Ends Important Links *******/
/****** Ends Compliance Portal *******/

/****** Starts The Voice of Management *******/
.nbb-managementspeak .ms-webpart-zone, .nbb-managementspeak .ms-webpart-cell-vertical, .nbb-managementspeak .ms-webpart-chrome-vertical {
	display:block;
}
.voiceofmgt-wrapper ul li {
	list-style:none;
	margin:0;
}
.nbb-voiceofmgt.shadowbgBox {
	display: block;
    overflow: hidden;
    height:340px;
}
ul.list-group {
	margin:0;
}
.voiceofmgt-image {
    background: #eaeaea;
    height: 144px;
    text-align: center;
    margin:0 0 6px 0;
}
.voiceofmgt-image img {
	width:auto;
	margin:0;
	height:144px;
}
.voiceofmgt-txt {
	height:70px;
	overflow:hidden;
}
.vocieofmgt-author {
	font-size:16px;
	color:#212121;
	text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
}
.voiceofmgt-designation {
	color:#606060;
	text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
}
/*.voiceofmgt-wrapper ul li:last-child {
     margin-top: -30px; 
    position: absolute;
    right: 20px;
    bottom: 10px;
}*/
.voiceofmgt-wrapper .ms-promlink-headerNav a img {
	display:none;
}
.voiceofmgt-wrapper .ms-promlink-headerNav a:last-child.ms-commandLink:before{
	content:"\f105";
	font-family: 'FontAwesome';
    font-size: 28px;
    line-height: 16px;
}
.voiceofmgt-wrapper .ms-promlink-headerNav a.ms-promlink-button-disabled, .voiceofmgt-wrapper .ms-promlink-headerNav a.ms-promlink-button-enabled {
	border:0px;
	background:transparent;
	text-decoration:none;
}
.voiceofmgt-wrapper .ms-promlink-headerNav a.ms-promlink-button-disabled {
	opacity:0.5;
	color:#666;
}
.voiceofmgt-wrapper .ms-promlink-headerNav a.ms-promlink-button-enabled {
	color:#ff0d00;
}
.voiceofmgt-wrapper .ms-promlink-headerNav a:first-child.ms-commandLink:before{
	content:"\f104";
	font-family: 'FontAwesome';
    font-size: 28px;
    line-height: 16px;
}
/****** Ends The Voice of Management *******/

/****** Starts Latest News *******/
.nbb-latestnews.shadowbgBox {
}
.nbb-latestnewsprfScroll {
	height:264px;
	overflow:auto;
	position:relative;
}
.latestnews-wrap {
	position:relative;
}
.latestnews-wrap .fa {
	display:inline-block;
	color:#c2c2c2;
	font-size:24px;
}
.latestnews-content {
	vertical-align:top;
	display:inline-block;
	margin-bottom: 20px;
	margin-left:12px;
	width: calc(100% - 42px);
}
.latestnews_title {
	margin:0 0 10px 0;
	display:block;
}
.nbbdept-latestnews-wrapper .nbb-latestnewsprfScroll {
    height: 206px;
    overflow: auto;
}
.latestnews-content .markcalendar-month {
	border: 1px solid #e4e4e4;
    padding: 2px 4px;
    background: #ebebeb;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
}
.nbbdept-latestnews-wrapper .ms-webpartzone-cell {
	margin-bottom:0;
}

/****** Ends Latest News *******/

/****** Starts Article Details *******/
.articledetails-wrapper ul li {
	list-style:none;
}
.nbb-articletitle h2 {
	font-size:32px;
	color:#484848;
	margin: 15px 0;
}
.articledetails-info {
    margin: 15px 0;
}
.articleauthor-profilepic {
	margin:0 10px 0 0;
	display:inline-block;
}
.articleauthor-name {
	font-size:18px;
	color:#606060;
	display:inline-block;
}
.articledetails-authorinfo {
	margin: 10px 0;
    display: block;
}
.articleauthor-name a {
	color:#ff0d00;
	text-decoration:none;
}
a.nbb-links {
	color:#ff0d00;
	display:inline-block;
	margin-top:15px;
}
.articledetails-image img {
	width:100%;
	margin-bottom:15px;
}
.article-viewcount:before {
	content:"\f06e";
    font-family: 'FontAwesome';
    font-size: 16px;
    color:#b8b8b8;
    line-height: 16px;
}
/****** Ends Article Details *******/
/****** Starts Common Layout *******/
.nbb-OneColWrapper .ms-webpart-titleText.ms-webpart-titleText, .nbb-OneColWrapper .ms-webpart-titleText > a {
	font-size:20px;
	margin: 0;
	border-bottom: 1px solid #d9d9d9;
    padding: 0 0 8px 0;
    margin: 0 0 15px 0;
}
.nbb-OneColWrapper .ms-webpart-cell-vertical {
	margin:0
}
.nbb-OneColWrapper table.ms-listviewtable thead tr {
    background: #8c8c8c;
    color: #FFF;
}
.nbb-OneColWrapper table.ms-listviewtable {
	border:1px solid #eee;
	width:100%;
}
.nbb-OneColWrapper table.ms-listviewtable thead tr{
	background:#8c8c8c;
	color:#FFF;
}
.nbb-OneColWrapper .ms-listviewtable thead th {
    padding: 4px;
    border-left: 1px solid #FFF;
    color:#FFF;
    font-size:16px;
}
.nbb-OneColWrapper > table.ms-listviewtable > tbody > tr {
	border:1px solid #eeeeee;
}
.nbb-OneColWrapper .ms-listviewtable tbody tr td {
	padding:4px;
}
.nbb-OneColWrapper .ms-listviewtable > tbody > tr:nth-child(odd) {
	background: #f9f9f9;
}
.nbb-OneColWrapper .ms-listviewtable > tbody > tr:nth-child(even) {
	background: #FFF;
}
.nbb-OneColWrapper .ms-listviewtable thead .ms-vh-div a, .nbb-library .ms-listviewtable thead .ms-vh-div span{
	color:#FFF;
	font-size:16px;
}
/****** Ends Common Layout *******/

/****** Starts Latest Updates *******/
.nbb-latestupdtes .ms-webpart-zone, .nbb-latestupdtes .ms-webpart-cell-vertical, .nbb-latestupdtes .ms-webpart-chrome-vertical {
	display:block;
}
.latestupdates-wrap {
	height:360px;
}
.latestupdates-img {
	overflow:hidden;
	width:100%;
}
.latestupdates-img img {
	height:330px;
}
.latestupdates-title h2 {
	font-size:20px;
	margin:10px 0;
}
.latestupdates-title h2 a {
	text-decoration:none;
}
.latestupdates-title h2 a:hover {
	color:#ff0d00;
	text-decoration:none;
}
/****** Ends Latest Updates *******/

/****** Starts Department Genric Layout *******/
.nbbdept-contentwrap.shadowbgBox {
	padding:0;
}
.nbbdept-deptcontent {
	padding: 15px 15px 15px 0;
}
.nbb-DeptLayout .dept-shadowbgBox .ms-webpart-chrome {
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	background:#FFF;
	padding:15px;
	margin:15px 0;
	display:block;
}
.nbbdept-documentlibrary-wrapper .ms-webpartzone-cell {
	margin-bottom:0;
}
.nbbdept-title  {
	font-size:20px;
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	border-bottom:1px solid #d9d9d9;
}
.nbbdept-image img {
	width:100%;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height:335px;
}
.nbbdept-descptscroll {
	height:250px;
	overflow:auto;
	position: relative;
    margin: 0px auto;
    padding: 0px;
}
.dept-shadowbgBox .js-webpart-titleCell {
	border-left: 2px solid #f0ab00;
    margin: 0px 0 15px -16px;
    padding: 0 0 0 15px;
    line-height: 0px;
    height: 24px;
}
.dept-shadowbgBox .ms-webpart-chrome-title {
    border-bottom:1px solid #d9d9d9;
    margin: 0 0 15px 0;
}
.dept-shadowbgBox .js-webpart-titleCell h2 {
	margin: 0;
	font-size:20px;
    padding: 0 0 10px 0;
}
.nbb-tablebg caption.ms-dragDropAttract {
	display:none;
}
.nbb-tablebg table.ms-listviewtable thead tr {
    background: #8c8c8c;
    color: #FFF;
}
.nbb-tablebg table.ms-listviewtable {
	border:1px solid #eee;
	width:100%;
}
.nbb-tablebg table.ms-listviewtable thead tr{
	background:#8c8c8c;
	color:#FFF;
}
.nbb-tablebg .ms-listviewtable thead th {
    padding: 4px;
    border-left: 1px solid #FFF;
    color:#FFF;
    font-size:16px;
}
.nbb-tablebg > table.ms-listviewtable > tbody > tr {
	border:1px solid #eeeeee;
}
.nbb-tablebg .ms-listviewtable tbody tr td {
	padding:4px;
}
.nbb-tablebg .ms-listviewtable > tbody > tr:nth-child(odd) {
	background: #f9f9f9;
}
.nbb-tablebg .ms-listviewtable > tbody > tr:nth-child(even) {
	background: #FFF;
}
.nbb-tablebg .ms-listviewtable thead .ms-vh-div a, .nbb-tablebg .ms-listviewtable thead .ms-vh-div span{
	color:#FFF;
	font-size:16px;
}
.nbbdept-calendar .markcalendar-content {
	width:100%;
}
.nbbdept-calendar .markcalendar-leftbar {
	border:0;
	height:auto;
}
.nbbdept-calendar .ms-webpart-zone, .nbbdept-calendar .ms-webpart-cell-vertical, .nbbdept-calendar .ms-webpart-chrome-vertical {
	display:block;
}
.nbbdept-calendar .markcalendar-month{
    border: 1px solid #e4e4e4;
    padding: 2px 4px;
    background: #ebebeb;
    font-size: 14px;
    display:inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
}
/****** Ends Department Genric Layout *******/

/****** Starts Audit Issues *******/
.nbbaudit-dashboard.shadowbgBox {
	background:none;
	box-shadow:none;
	margin:0;
}
.nbbaudit-dashboard .nbb-componenttitle {
	margin:0;
}
.auditissues-wrap.shadowbgBox {
	margin:46px 0 0 0;
	position:relative;
	vertical-align:top;
    min-height: 140px;
}
.goldbgBox {
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	background-color:#efab00;
	background-size:34px 34px;
	padding:6px;
	width:46px;
	height:46px;
	position:relative;
	top:-36px;
	display:inline-block;
	margin:0 8px 0 0;
	vertical-align: top;
}
.allissues-icon {
	background-image:url(../images/ic-all-issues.png);
	background-repeat:no-repeat;
    background-position: center;
}
.outstandingissues-icon {
	background-image:url(../images/ic-outstanding-issues.png);
	background-repeat:no-repeat;
    background-position: center;
}
.pastdueissues-icon {
	background-image:url(../images/ic-issues-past-due.png);
	background-repeat:no-repeat;
    background-position: center;
}
.notdueyetissues-icon {
	background-image:url(../images/ic-issues-not-due-yet.png);
	background-repeat:no-repeat;
    background-position: center;
}
.closedbyownerissues-icon {
	background-image:url(../images/ic-Issues-closed-by-owner.png);
	background-repeat:no-repeat;
    background-position: center;
}
.closedbutnotverifiedissues-icon {
	background-image:url(../images/ic-issues-closed-but-not-verified.png);
	background-repeat:no-repeat;
    background-position: center;
}
.closedandverified-icon {
	background-image:url(../images/ic-issues-closed-and-verified.png);
	background-repeat:no-repeat;
    background-position: center;
}
.closedbyriskacceptance-icon {
	background-image:url(../images/ic-issues-closed-by-risk-acceptance.png);
	background-repeat:no-repeat;
    background-position: center;
}
.auditissues-details {
	display:inline-block;
	width:calc(100% - 60px);
	vertical-align: top;
}
.auditissues-count {
	font-size:40px;
}
.auditissues-txt {
	font-size:16px;
}
h2.auditreport-title {
    font-size: 20px;
    color: #212121;
    margin: 0;
    padding: 0;
}
table.auditreport-table {
	border-spacing: 0 10px;
	border-collapse:separate;
}
table.auditreport-table tr th {
	background:#f1f1f1;
	font-weight:normal;
	font-size:18px;
}
table.auditreport-table tr th, table.auditreport-table tr td {
	border-left:0px solid #dadada;
	border-right:0px solid #dadada;
	border-bottom:1px solid #dadada;
	border-top:1px solid #dadada;
	padding:8px;
}
table.auditreport-table tr th:first-child, table.auditreport-table tr td:first-child {
	border-left:1px solid #dadada;
}
table.auditreport-table tr th:last-child, table.auditreport-table tr td:last-child {
	border-right:1px solid #dadada;
}
table.auditreport-table tr td a:hover {
	color:#ff0d00;
	text-decoration:none;
}
table.auditreport-table tr td a {
	text-decoration:none;
}
.auditreport-gobtn .selreport-select {
	width:260px;
}
.selreport-select {
	width:260px;
	float:left;
}
.clsAuditReports {
	margin:20px 0 0 0;
}
#selReport {
	width:250px;
}
.auditreport-gobtn .sp-peoplepicker-topLevel {
	display: inline-block;
    width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.auditreport-gobtn a {
	display:inline-block;
	margin-left: 24px;
    vertical-align: top;
}
#idSuperVisory {
	width:400px;
	display:inline-block;
}
/****** Ends Audit Issues *******/

/**** Starts Search Results Section ****/
.searchresult_container .ms-webpart-zone, .searchresult_container .ms-webpart-cell-vertical, .searchresult_container .ms-webpart-chrome-vertical {
	display:block;
}
.searchresult_Refiners .ms-ref-refiner #Container  {
    padding:15px;
	margin:15px 0 0 0;
	border-radius:4px;
	-webkit-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	-moz-box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	box-shadow: 1px 1px 4px 2px rgba(232,232,232,1);
	background:#FFF;
}
.searchresult_Refiners .ms-ref-refinername:link, .searchresult_Refiners .ms-ref-refinername:visited {
    border-left: 2px solid #f0ab00;
    margin: 4px 0 0 -15px;
    height: 16px;
    width: 100%;
    padding: 0 0 0 10px;
    margin-top: 0;
}
.searchresult_Refiners .ms-ref-unsel-shortList #Value a.ms-displayBlock:hover {
	color:#ff0d00;
}
.searchresult_Refiners div.ms-ref-selSec {
    color: #484848;
    display: block;
    margin: 0 0 -10px;
    padding: 0 0 10px;
}
.searchresult_Refiners .ms-ref-refiner .ms-ref-unselSec {
	margin:10px 0 0 0;
	padding:10px 0 0 0;
    border-top:1px solid #d9d9d9;
	display:block;
}
.searchresult_Refiners .ms-ref-refiner {
	padding:0;
}
.searchresult_Refiners a.ms-ref-unsel-toggle .ms-displayInlineBlock {
	color:#ed1b2f;
}
.searchresult_container .ms-srch-item-summary{
    line-height: 24px;
}
.searchresult_container .ms-srch-item-title h3.ms-srch-ellipsis {
	margin-bottom: 5px;
    margin-top: 5px;
    font-size:14px;
}
.searchresult_container .ms-srch-item-title .ms-srch-item-link {
	color:#000;
	font-size:16px;
}
.searchresult_container .ms-srch-item:hover, .searchresult_container .ms-srch-resultHover:hover, .searchresult_container.edisc-SearchResultItemContainer:hover {
	background:#f1f1f1;
}
.searchresult_container .ms-srch-item-path {
	color:#ed1b2f; 
	display:none;
}
.searchresult_container .ms-srch-item-highlightedText{
	background:#ebebeb;
	padding:2px;
	font-weight:normal;
}
.searchresult_Tabs .ms-srchnav-link-selected:link, .searchresult_Tabs .ms-srchnav-link-selected:visited {
	font-size:16px;
	font-weight:normal;
	color:#000;
	border-top:3px solid #ed1b2f;
	padding:12px 20px 0 20px;
}
.searchresult_Tabs .ms-srchnav-item {
	border:1px solid #ebebeb;
	padding:0 0 12px 0;
	margin:0 0 -1px -1px;
}
.searchresult_Tabs .ms-srchnav-link:link, .searchresult_Tabs .ms-srchnav-link:visited {
	font-size:14px;
	color:#000;
	padding:0 20px 10px 20px;
}
.searchresult_container .ms-srch-item {
	width:100%;
	padding: 10px 5px 10px 5px;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
}
.searchresult_Tabs .ms-srchnav-list {
	width:100%;
	border-bottom:1px solid #ebebeb;
	display:inline-block;
	margin:0;
	padding:0px;
}
.searchresult_Tabs .ms-webpartzone-cell {
	margin:0;
}
/**** Ends Search Results Section ****/

/**** Starts People Search Results Section ****/
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item {
    padding: 10px 10px 0 0;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer {
    margin: 0;
    padding-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col1 {
    width: 90px;
    vertical-align: top;
}
.HPD-tabWidth {
    width: 90px!important;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col2 {
    width: 210px;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col2 .ms-

srch-ellipsis {
    width: auto;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col2 .people-name a {
    font:16px 'robotobold', Arial, Helvetica, sans-serif;
    color: #ed1b2f;
    padding-bottom: 5px;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col2 .ms-srch-ellipsis {
    width: 180px;
    word-wrap: normal;
    white-space: normal;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col3 {
    width: 220px;
    vertical-align: top;
}
.em-tabWidth2 {
    width: 250px!important;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col2 .people-email a {
    font: 14px "robotoregular", Arial, Helvetica, sans-serif !important;
    color: #ed1b2f;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col2 .people-role {
    font-size: 12px;
    color: #808080;
}
.HPD-RecognizeButton a {
    color: #ed1b2f;
    font:16px 'robotobold', Arial, Helvetica, sans-serif;
    border-radius: 2px;
    float: left;
    border: none;
    cursor: pointer;
    padding: 6px 0px 0px 0;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col5 .people-manager {
    width: 130px;
    word-wrap: normal;
    white-space: normal;
    font: 14px "robotoregular", Arial, Helvetica, sans-serif !important;
    color: #ed1b2f;
}
.search-result-container .ms-srch-result-groups .ms-srch-people-outerContainer .ms-srch-people-item .tbl-col5 {
    width: 130px;
    vertical-align: top;
}
.em-allRecognitionCountImg {
	/*width: 140px;*/
    float: left;
    margin-right: 10px;
}
.ms-srch-people-item #UserPersona {
    height: 74px;
    overflow: hidden;
    float: left;
}
.em-JFAccordionFirstDiv {
	width:100%;
	float:left;
}
.em-JFAccordionSecondDiv {
	float:left;
	color:#808080;
}
.em-recognitionCountLeft {
	float:left;
}
.em-PFData {
	width: 50%;
    float: left;
}
.em-PFName a {
	display:block;
	color: #ed1b2f;
    text-decoration: none;
}
.em-PFRole {
	color:#808080;
	display:block;
}
.em-PFEmail a {
	display:block;
	color: #ed1b2f;
    text-decoration: none;
}
.people-manager {
	color: #ed1b2f;
}
.ms-ref-refiner {
    padding:0;
}
/**** Ends People Search Results Section ****/

/**** Starts Internal Job Posting Section ****/
.internaljob-wrap {
	margin:0;
	padding:0;
}
ul..latestjob-listview li:first-child {
	margin-top:0;
}
ul.latestjob-listview li:nth-child(even) {
	background:#FFF;
	display:block;
	padding:10px 5px;
	margin: 10px 0;
}
ul.latestjob-listview li:nth-child(odd) {
	background: #f3f3f3;
	display:block;
	padding:10px;
	margin: 10px 0;
}
.ic-job {
	background-image:url(../images/ic-job.png);
	background-repeat:no-repeat;
    background-position: center;
    width:40px;
    height:40px;
    float: left;
    margin-right: 10px;
}
.job-location .fa {
	color:#efab00;
} 
.job-type {
	border: 1px solid #e4e4e4;
    padding: 2px 4px;
    background: #FFF;
    font-size: 14px;
    /*float: right;*/
    margin-bottom: 5px;
    border-radius: 4px;
    text-align:center;
    float:right;
    text-transform:capitalize;
}
.job-contact {
	text-align:right;
	float:right;
	width:100%;
}
/**** Ends Internal Job Posting Section ****/
/**** Starts Poll Section ****/
.nbb-poll .ms-webpart-zone, .nbb-poll .ms-webpart-cell-vertical, .nbb-poll .ms-webpart-chrome-vertical {
	display:block;
}
.poll-prfScroll {
    height: 280px;
    overflow: auto;
}
.nbbpoll-wrap h4 {
	color:#484848;
	font-size:18px;
}
.nbbpoll-options input { /* HIDE ORG RADIO & CHECKBOX */
  	visibility: hidden;
  	position: absolute;
}
.nbbpoll-options {
	margin:20px 0 30px 0;
}
.nbbpoll-options label {
  	font-size:14px;
  	color:#484848;
  	cursor:pointer;
}
.nbbpoll-options .nbbpoll-optionslist {
	margin:10px 0 10px 30px;
}
.nbbdept-tasklist .nbbpoll-options .nbbpoll-optionslist {
	margin:8px 0 8px 30px;
}
.nbbdept-tasklist .poll-prfScroll {
    height: 202px;
    overflow: auto;
}
.nbbpoll-wrap a {
	color:#ff0e02;
}
/* RADIO STYLES */
.nbbpoll-options label:before{     /* DEFAULT <i> STYLE */
  	display: inline-block;
  	vertical-align: middle;
  	width:  16px;
  	height: 16px;
  	border-radius: 50%;
  	transition: 0.2s;
  	box-shadow: inset 0 0 0 8px #fff;
  	border: 1px solid gray;
  	background: gray;
  	content: "";
  	margin-right:8px;
}
.nbbpoll-options .nbbpoll-optionslist:hover label:before { /* HOVER <i> STYLE */
  	box-shadow: inset 0 0 0 3px #fff;
  	background: #ec1d23;
  	border: 1px solid gray;
  	content: "";
  	margin-right:8px;
}
.nbbpoll-options input[type='radio']:checked + label:before { /* (RADIO CHECKED) <i> STYLE */
  box-shadow: inset 0 0 0 3px #fff;
  background: #ec1d23;
  border: 1px solid gray;
  content: "";
  margin-right:8px;
}
.nbbpoll-button input {
    color: #fff;
    background-color: #ff0d00;
    border-color: #ff0d00;
}
.nbbpoll-button input {
    color: #fff;
    background-color: #ff0d00;
    border-color: #ff0d00;
    font:14px 'Gill Sans MT', Helvetica, Arial, sans-serif;
}
input.btn-primary:hover, input.btn-primary:active, input.btn-primary:focus, input.btn-primary:active:focus, input.btn-primary:active:hover {
    color: #fff;
    background-color: #ee0c00;
    border-color: #ee0c00;
    font:14px 'Gill Sans MT', Helvetica, Arial, sans-serif;
}
/**** Ends Poll Section ****/

/**** Starts Tasks Section ****/
.nbb-tasks-wrap.shadowbgBox {
	display:block;
	overflow:hidden;
}
.nbb-tasks-tabs {
	margin:10px 0;
}
.nbb-tasks-tabs .nav-tabs>li.active>a, .nbb-tasks-tabs .nav-tabs>li.active>a:focus, .nbb-tasks-tabs .nav-tabs>li.active>a:hover, .nbb-FamilyUpdateActiveTab {
	background:#e0e0e0;
}
.nbb-tasks-tabs .nav>li>a {
	padding:4px 14px;
	border:1px solid #dbdbdb;
	border-radius:0px;
	margin:0 0 0 -1px;
}
.nbb-tasks-tabs .nav-tabs {
	border:0px;
}
.tasks-status {
	background-image:url(../images/icon-taks.png);
	background-repeat:no-repeat;
    background-position: left;
    padding:8px 0 6px 35px;
    font-size:20px;  
    margin-left:26px;
}
.tasks-status span {
	color:#ff0d00;
}
.tasks-list {
	margin:10px 0 0 0;
}
.task-prfscrollitem {
	height: 158px;
    overflow:auto;
}
.tasks-list ul {
	padding: 0 0 0 10px;
}
.tasks-list ul li {
	list-style:none;
	padding:5px 0;
	overflow:hidden;
	display:block;
}
.tasks-list > ul > li > a:before {
	content: "•"; 
	color: red;
  	display: inline-block; 
  	width: 1em;
  	float:left;
}
.task-item {
	float: left;
    width: calc(100% - 50px);
}
.month-greybg {
    border: 1px solid #e4e4e4;
    padding: 2px 4px;
    background: #ebebeb;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 2px;
    margin-right: 4px;
}
.nbbdept-tasklist .ms-webpartzone-cell {
	margin-bottom:0;
}
.nbb-alltasks-wrap .tasks-list ul li {
    list-style: none;
    padding: 5px 0;
    display: block;
    margin-bottom: 5px;
}
.tasks-list > ul > li:last-child:before {
	content: ""; 
}
.ms-promlink-headerNav {
    /* margin-top: -30px; */
    position: absolute;
    right: 20px;
    bottom: 10px;
    width:52px;
}
.tasks-list .ms-promlink-headerNav a img {
	display:none;
}
.tasks-list .ms-promlink-headerNav a:last-child.ms-commandLink:before{
	content:"\f105";
	font-family: 'FontAwesome';
    font-size: 28px;
    line-height: 16px;
}
.tasks-list .ms-promlink-headerNav a.ms-promlink-button-disabled, .tasks-list .ms-promlink-headerNav a.ms-promlink-button-enabled {
	border:0px;
	background:transparent;
	text-decoration:none;
}
.tasks-list .ms-promlink-headerNav a.ms-promlink-button-disabled {
	opacity:0.5;
	color:#666;
}
.tasks-list .ms-promlink-headerNav a.ms-promlink-button-enabled {
	color:#ff0d00;
}
.tasks-list .ms-promlink-headerNav a:first-child.ms-commandLink:before{
	content:"\f104";
	font-family: 'FontAwesome';
    font-size: 28px;
    line-height: 16px;
}


/**** Ends Tasks Section ****/
/**** Starts Search Hover Section ****/
.ms-srch-hover-outerContainer{ 
	display:none !important;	
}
.searchresult_Tabs #SearchBox {
	margin-bottom:20px;
}
.searchresult_Tabs #SearchBox .ms-srch-sbLarge-fullWidth {
	width:484px;
	font:20px 'Gill Sans MT', Helvetica, Arial, sans-serif;
}
/**** Ends Search Hover Section ****/

/**** Starts Departments Section ****/
[class^="hvr-"] {
	margin: 1em 0;
	padding: 1.2em;
	cursor: pointer;
	background: #e1e1e1;
	text-decoration: none;
	color:#484848;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
.hvr-shutter-in-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #ff0d00;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	height:60px;
	width:100%;
	text-align:center;
	border-radius:2px;
}
.hvr-shutter-in-horizontal:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #efefef;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
   	color: #FFFFFF;
}
/**** Ends Departments Section ****/

/**** Starts Scroll Section ****/
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}
/** Scrollbar rail styles **/
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}
.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}
.ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}
.ps__rail-x:hover, .ps__rail-y:hover, .ps__rail-x:focus, .ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}
/** Scrollbar thumb styles **/
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}
.ps__rail-x:hover > .ps__thumb-x, .ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}
/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
/**** Ends Scroll Section ****/
